body{
    background-color: blueviolet;
   color: gray;
    font-family: fantasy;
    text-align: center;
}
label{font-family: fantasy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;

}
input,button {
    color: white;
    background-color: black;
    font-size: medium;
    border-radius: 0cqmin;

}
